# Data
data/downloaded
data/processed
data/interim
notebooks/data

# model
*_model
onnx

# Python
__pycache__
.pytest_cache

# notebooks
.ipynb_checkpoints
*.nbconvert*.ipynb

# logging
wandb

# Misc
requirements/dev-lint.txt