# Data
data/downloaded
data/processed
data/interim

# Huggingface model
*hugg_model

# Python
__pycache__
.pytest_cache

# notebooks
.ipynb_checkpoints
*.nbconvert*.ipynb

# logging
wandb

# Misc
requirements/dev-lint.txt